.sidenav {
  width: 330px;
}

.hamburger-menu {
  position: relative;
}

.sidebar-header {
  height: 10%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.sidebar-content {
  height: 70%;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.logout-button {
  display: block;
  width: 100%;
  margin: 0 auto;
  flex-shrink:1;
  float: none;
}

.btn-group {
  margin: auto;
  padding: 10px
}

.no-outline {
  outline: none;
}

.floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  left: 92%;
  top: 85vh;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  color: white;
}
