<md-sidenav-container class="example-container" fullscreen>
  <md-sidenav #sidenav class="sidenav" mode="push">
    Jolly good!
  </md-sidenav>

  <button class="hamburger hamburger--collapse" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
  </button>
  <!--<div class="sidenav-content">-->
    <!--<button class="border-menu" md-button (click)="sidenav.open()">-->
    <!--</button>-->
  <!--</div>-->
  <!--<app-page-header></app-page-header>-->
  <!--<app-panel></app-panel>-->


</md-sidenav-container>
