<md-sidenav-container class="example-container" fullscreen>
  <md-sidenav #sidenav class="sidenav" mode="push">
    <md-card class="sidebar-header">
      <md-card-title>BASYXLab</md-card-title>
      <md-card-subtitle>Some shitty company</md-card-subtitle>
    </md-card>
    <md-card class="sidebar-content"></md-card>
    <button md-raised-button class="logout-button">Logout</button>
  </md-sidenav>

  <button class="hamburger hamburger--arrowalt" type="button" (onCloseStart)="onCloseStart(event)" (click)="toggleMenu(sidenav)">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <app-page-header></app-page-header>

  <app-panel></app-panel>


</md-sidenav-container>
