<md-card class="panel">
  <md-input-container>
    <input mdInput placeholder="Vault Name">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Token Name">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Origin">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Creation Date">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Expiration Date">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Description">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Region">
  </md-input-container>
  <md-input-container>
    <!--<input mdInput disabled placeholder="Contract Key"> can use [disabled] to control conditionally-->
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Partner #1 Vault Location">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Partner #1 Name">
  </md-input-container>
  <md-input-container type="number">
    <input mdInput placeholder="You to Partner FX">
  </md-input-container>
  <md-input-container type="number">
    <input mdInput placeholder="Partner to You FX">
  </md-input-container>
  <button md-raised-button>Update</button>
</md-card>
