<md-card class="panel">

  <div *ngIf="isVault">
    <md-input-container>
      <input mdInput [(ngModel)]="schemeName" name="schemeName" placeholder="Vault Name">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="contractType" name="contractType" placeholder="Contract Type">
    </md-input-container>
    <md-input-container>
      <textarea mdInput [(ngModel)]="description" name="description" placeholder="Description"></textarea>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="token" name="token" placeholder="Token Name">
    </md-input-container>
  </div>
  <div *ngIf="isFx || isRewardMile">
    <md-input-container>
      <input mdInput [(ngModel)]="schemeName" name="schemeName" placeholder="Scheme Name" disabled>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="contractType" name="contractType" placeholder="Contract Type" disabled>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="provider" name="provider" placeholder="Service Provider" disabled>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="owner" name="owner" placeholder="Contract Owner" disabled>
    </md-input-container>
    <md-input-container>
      <textarea mdInput [(ngModel)]="description" name="description" placeholder="Description" disabled>
    </md-input-container>
    <md-input-container>
      <textarea mdInput [(ngModel)]="instructions" name="instructions" placeholder="Instructions" disabled></textarea>
    </md-input-container>
    <div *ngIf="isFx">
      <md-input-container type="number">
        <input mdInput [disabled]=true [(ngModel)]="toPartnerFx" name="toPartnerFx" placeholder="You to Partner FX" disabled>
      </md-input-container>
      <md-input-container type="number">
        <input mdInput [disabled]=true [(ngModel)]="toOwnerFx" name="toOwnerFx" placeholder="Partner to You FX" disabled>
      </md-input-container>
    </div>
    <div *ngIf="isRewardMile">
      <md-input-container>
        <textarea mdInput [(ngModel)]="partners" name="partners" placeholder="Contract Partners" disabled></textarea>
      </md-input-container>
    </div>
  </div>
  <h2 *ngIf="!isVault">Don't like the arrangement?</h2>
  <button *ngIf="(isFx || isRewardMile) && !isOwner" md-button type="button" (click)="nullifyContract()">REJECT</button>
  <button *ngIf="isOwner" md-button type="button" (click)="destroyContract()">TERMINATE</button>

  <div class="spinner" *ngIf="awaitingDeployment">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>

</md-card>
